.emblem {

    display: block;
    position: relative;
    width: 100%;
    max-width: 70px;
    margin: auto;
    
    @media (prefers-reduced-motion: no-preference) {
        animation: spin infinite 20s linear;
    }
}